<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Secret Santa - {{name}}</title>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

	<h1>Secret Santa - {{name}}</h1>
	<p>Your secret santa present recipient is {{recipient}}</p>

</body>
</html>
