<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Secret Santa</title>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

	<div style="display:flex">
		<div style="width:10%; text-align:right">
			<img src="/santa-3.gif">
		</div>
		<div style="width:80%; text-align:center">
			<h1>Secret Santa</h1>
		</div>
		<div style="width:1%; text-align: left">
			<img src="/8_2_104.gif">
		</div>
	</div>
	<p>Please select your name below:</p>
	<img src="/sleigh.gif" width="100%">
	<ul>
		{%each%}<li><a href="/form/{{id}}">{{name}}</a></li>{%endeach%}
	</ul>

</body>
</html>
