<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Secret Santa</title>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

	<h1>Secret Santa</h1>
	<p>Your form has been submitted successfully.
	Please check back later to find out your recipient.</p>
	<div style="display:flex; justify-content:center; width: 100%">
		<img src="/santamoon.gif">
	</div>

</body>
</html>
